body {
	background-color: rgb(230, 230, 230);
}

#app_column {
	border: 6px double #b38503;
    max-width: 40em;
    background: white;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 1em;
}

#create_block {
	background-color: gray;
	text-align: center;
	border: 1px solid black;
}
#create_block > button {
	display: inline-block;
	margin: 0.5em;
	padding: 0.3em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	cursor: pointer;
}


footer {
	border: 2px solid gray;
    max-width: 40em;
	background: white;
	color: gray;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
	padding: 1em;
	font-style: italic;
	text-align: center;
}
footer a {
	color: gray;
}
footer a:hover {
	color: rgb(138, 138, 202);
}

.importExportButton {
	margin: auto;
    display: block;
    margin-top: 3em;
}
.imp_exp_win textarea {
	width: 95%;
    height: 10em
}

.drag_item {
	cursor: move;
	cursor: grab;
}
.drag_item:active {
    cursor: grabbing;
}
.item_line a {
	color: #0a63a2;
}
.item_line:hover {
	background: #f3f3f3;
}
.itemOver {
	background: rgb(176, 207, 162);
}
.del_item {
    color: #545454;
    margin-left: 1em;
    margin-right: 0.5em;
    font-style: italic;
    cursor: pointer;
    float: right;
}
.del_item:hover {
    color: #e26d6d;
}
