.app_body {
	background-color: rgb(230, 230, 230);
}

#app {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.error {
	background: #d89494;
    color: #191919;
    font-weight: bold;
    padding: 20px;
    max-width: 500px;
    border: 10px solid #ef4343;
    margin: auto;
}

.scrollable::-webkit-scrollbar {
	display: none;
}
.scrollable {
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}
body {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.winBack {
	z-index: 50;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}


button:not(.simpleButton) {
	display:inline-block;
	padding:0.3em 1em;
	border:0.1em solid #141414;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	color:#141414;
	text-align:center;
	transition: all 0.1s;
	cursor: pointer;
	background: white;
	outline: none;
}
button:not(.simpleButton):hover {
	color:#ffffff;
	background-color:#353535;
}
button:not(.simpleButton):disabled {
	font-style: italic;
    background: rgb(163, 163, 163);
    color: black;
    cursor: not-allowed;
}
button:not(.simpleButton):focus-visible {
	box-shadow: 0px 0px 6px #147aab;
	background-color: #c9eff3
}

.niceInputs textarea {
	width: calc(100% - 4px);
	padding: 2px;
	border: none;
	resize: none;
	min-height: 10em;
	background: rgb(243, 239, 235);
	font-family: serif;
}
.niceInputs textarea:hover {
	background: #c6c6f9;
}
.niceInputs textarea:focus {
	border: none;
	outline: 1px solid black;
    background: white;
}
.small_textarea {
	min-height: 6em;
}

.niceInputs label {
	font-weight: bold;
}
.niceInputs input[type="text"], .niceInputs input[type="number"] {
	background: transparent;
	border: none;
}

.niceInputs input[type="text"]:hover, .niceInputs input[type="number"]:hover {
	background: #c6c6f9;
}
.niceInputs input[type="text"]:focus, .niceInputs input[type="number"]:focus {
	border: none;
	outline: 1px solid black;
    /* background: #f3f3f3; */
	background: white;
}


/*
	Tooltips
*/

[data-tooltip]:not([data-tooltip=""]),
[data-tooltip-bottom]:not([data-tooltip-bottom=""]) {
	position: relative;
}

[data-tooltip]:hover:after,
[data-tooltip-bottom]:not([data-tooltip-bottom=""]):hover:after {
	position: absolute;
	left: 50%;
	z-index: 200;
	white-space: nowrap;
	padding: 5px 14px;
	background: #292929;
	color: #fff;
	border-radius: 4px;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

[data-tooltip]:hover:after {
	content: attr(data-tooltip);
	top: -10px;
	transform: translateX(-50%) translateY(-100%);
}

[data-tooltip]:not([data-tooltip=""]):hover:before,
[data-tooltip-bottom]:not([data-tooltip-bottom=""]):hover:before {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 15px;
	color: #292929;
	z-index: 200;
}


[data-tooltip]:not([data-tooltip=""]):hover:before {
	content: "▼";
	top: -15px;
}


[data-tooltip-bottom]:not([data-tooltip-bottom=""]):hover:after {
	content: attr(data-tooltip-bottom);
	bottom: -10px;
	transform: translateX(-50%) translateY(100%);
}

[data-tooltip-bottom]:not([data-tooltip-bottom=""]):hover:before {
	content: "▲";
	bottom: -15px;
}
.qualites_bar [data-tooltip-bottom]:not([data-tooltip-bottom=""]):hover:after {
	bottom: 0px;
}

/*
	Windows
*/
.select_win {
	z-index: 100;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	margin: auto;
	height: 800px;
	max-height: 90%;
	width: 650px;
	max-width: 90%;
	background: #ccd4d6;
	border: 2px solid black;
	padding: 0.6em;
}
.col_in_win {
	width: 49%;
	display: inline-block;
	vertical-align:top;
	text-align: left;
}
.select_win h4 {
	margin: 1em 0em;
	font-family: fantasy;
	margin-bottom: 0px;
	margin-left: 5px;
	text-align: left;
}
.select_win h3 {
	margin: 0.5em 0em;
	border-bottom: 1px solid rgb(123, 82, 54);
	font-family: fantasy;
	text-align: left;
}
.select_win ul {
	margin: 0px;
    padding-left: 20px;
    list-style: none;
	text-align: left;
}
.select_win li {
	border-bottom: 1px solid #a99f7e;
    margin-bottom: 2px;
}
.select_win ul li em {
	float: right;
    font-weight: bold;
    font-style: normal;
}

button.centerButton:not(.simpleButton) {
	display: block;
	margin: auto;
	text-align: center;
}

.win_bottom {
	margin: 2em 0px;
	text-align: center;
}

/*
	Columns
*/
.col_container {
	display: flex;
}
.column {
	flex: 1;
}
.full_column {
	flex: 1;
	margin-left: 5px;
	margin-right: 5px;
	height: 100%;
	overflow: scroll;
}

/*
	Page Blocks
*/
footer {
	border: 2px solid gray;
    max-width: 40em;
	background: white;
	color: gray;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
	padding: 1em;
	font-style: italic;
	text-align: center;
}
footer a {
	color: gray;
}
footer a:hover {
	color: rgb(138, 138, 202);
}

.app_column {
	border: 6px double #b38503;
    max-width: 40em;
    background: white;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 1em;
}
