.sheet_short_view {
	margin: 10px;
    padding: 10px;
    background: #dcdccd;
    border: 2px solid #616161;
	border-radius: 10px;
}
.sheet_short_view label {
	font-weight: bold;
}
.ssv_head {
	margin-bottom: 0.5em;
}
.ssv_head > div {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
.ssv_avatar {
	width : 90px;
	height: 90px;
	background-color: gray;
	cursor: pointer;
}
.ssv_avatar:hover {
	background-color: rgb(1, 172, 202);
	background-image: url("/web/images/eye.png")!important;
	background-size: cover;
}
.ssv_avatar_simple {
	width : 90px;
	height: 90px;
	background-color: gray;
}


.champ_in {
	height: 1.3em;
	display: flex;
	border-bottom: 1px solid rgb(123, 82, 54);
}
.champ_in > label {
	margin-right: 0.5em;
	display: inline-flex;
	overflow: hidden;
}
.champ_in > .field {
	height: 100%;
	display: inline-flex;
	flex-grow: 100;
}
.champ_in > .field input {
	width: calc(100% - 6px);
}
.ssv_status, .s_etats_display {
	font-size: small;
	margin: 0px;
	margin-top: 0.5em;
	white-space: pre-wrap;
}


.ssv_details {
	z-index: 100;
	position: fixed;
	top: 0px;
	left: calc(50% - 225px - 2px - 2em);
	margin: auto;
	height: 100%;
	width: 450px;
	background: #fbf3d8;
	border: 2px solid black;
	border-width: 0px 2px;
	padding: 2em;
}

.ssv_invit span {
	font-weight: bold;
    text-decoration: underline;
}
.ssv_invit a {
	color: #3e3e3e;
}
.champ_ste { 
	height: 1.5em;
    padding-bottom: 4px;
    line-height: 1.5em;
}

.char_name {
	margin-bottom: 1em;
    font-family: fantasy;
}

.table_gm_only input[type="text"] {
	margin-bottom: 0.7em;
	width: 20em;
}
.table_gm_only label {
	font-weight: bold;
	/* display: block;
	margin-bottom: 0.2em; */
}
.gm_action {
	width: fit-content;
	margin: auto;
	text-align: left;
	margin-top: 1em;
	margin-bottom: 1em;
}

/*
	Edit status & state
*/
.winSte {
	width: 90%;
	max-width: 60em;
	height: 20em;
	padding: 0px;
}
.winSte .column {
	padding: 0.4em;
}

/*
	Bag
*/
.bag_item_list {
	display: flex;
	flex-wrap: wrap;
}
.bag_item {
	flex: 1 0 40%;
	border-bottom: 1px solid grey;
	margin-right: 0.7em;
}
.bag_sep {
	flex: 2 0 80%;
	height: 1.5em;
	/* border-bottom: 1px solid grey; */
}
