code {
	color: black;
    background: rgb(4 255 0 / 19%);
    border-radius: 6px;
}

/*
	Chat
*/
.chat {
	width: 400px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	border-left: 2px solid gray;
	background: rgb(230, 230, 230);
	z-index: 20;
}

.chat_message_list {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 10px;
	height: calc(100% - 47px);
	width: calc(100% - 20px);
	overflow: scroll;
	overflow-x: hidden;
}

.chat_help {
	background: #b7ccf3;
    padding: 5px;
    border: 2px solid #0b0b96;
    border-radius: 5px;
}

.chat_message {
	margin: 5px 0px;
}
.chat_message_user {
	font-weight: bold;
}
.chat_message_text {
	padding: 0px;
	margin: 0px;
}
.chat_message_error {
	background: #ff8f8f;
    padding: 5px;
    border: 2px solid red;
}
.chat_message_self {
	border-right: 2px solid rgb(54, 130, 202);
	text-align: right;
	padding-right: 10px;
}
.msg_only_self {
	font-style: italic;
    color: #676767;
}
.msg_only_gm {
	font-style: italic;
    color: #7909f3;
}

.chat_routine {
	font-style: italic;
	color: rgb(0, 59, 25);
}

/* rolls */
.chat_roll_line * {
	vertical-align: middle;
}
.chat_roll_expr {
	display: inline-block;
	font-family: monospace;
	margin-right: 0.5em;
}
.chat_roll_total {
	margin-right: 0.5em;
	font-weight: bold;
    font-family: fantasy;
}
.chat_roll_ini {
	color: #4e4e4e;
    font-family: fantasy;
    font-style: italic;
    padding-right: 0.8em;
}
.chat_dice {
	display: inline-block;
    padding: 1px;
    /* border: 1px solid red; */
    border-radius: 5px;
	background: #e0b8e0;
	box-shadow: 0 0px 3px 0px black;
	margin-right: 0.4em;
}
.chat_dice.dice_20 {
	background-color: #d9e4ff;
	background-image: url(/web/images/hexa.png);
    background-size: cover;
    height: 1.6em;
    width: 1.6em;
    text-align: center;
    line-height: 1.6em;
    border-radius: 2em;
}
.chat_dice.dice_20 .chat_dice_p2 {
	display: none;
}
.chat_dice.dice_20.rolled_1 {
	background-color: #35ea33;
    font-weight: bold;
    color: #000000;
}
.chat_dice.dice_20.rolled_20 {
	background-color: #000000;
	background-image: url(/web/images/hexa_red.png);
    font-weight: bold;
	color: #ec4646;
}

/* Jets de competence */
.chat_competence {
	text-align: center;
	background: #d0d0d0;
    padding: 5px;
}
.chat_competence_title {
	font-family: fantasy;
	border-bottom: 1px solid black;
	padding: 3px
}
.competence_as_gm .chat_competence_title {
	cursor: pointer;
}
.competence_as_gm .chat_competence_title:hover {
	opacity: 0.7;
	font-weight: bold;
}
.chat_competence_jet {
	margin: 6px 0px;
}
.chat_roll_on_desc {
	font-style: italic;
    color: #464646;
}
.comp_qual_dice {
	display: inline-block;
    padding: 1px;
	box-shadow: 0 0px 3px 0px black;
	background-color: #d9e4ff;
	background-image: url(/web/images/hexa.png);
    background-size: cover;
    height: 1.6em;
    width: 1.6em;
    text-align: center;
    line-height: 1.6em;
	border-radius: 2em;
	margin: 0px 0.5em;
}

.comp_reussite .chat_competence_title {
	background: #a9d2b2;
}
.comp_critique .chat_competence_title {
	background: #00b728;
    font-weight: bold;
    color: black;
}
.comp_echec .chat_competence_title {
	background: #e0b8b8;
}
.comp_maladresse .chat_competence_title {
	background: #1f1f1f;
    font-weight: bold;
    color: #ff0404;
}
.comp_dice_can_reroll {
	cursor: pointer;
}
.comp_qual_dice.rolled_1 {
	background-color: #35ea33;
    font-weight: bold;
    color: #000000;
}
.comp_qual_dice.rolled_20 {
	background-color: #000000;
	background-image: url(/web/images/hexa_red.png);
    font-weight: bold;
	color: #ec4646;
}
.comp_dice_kept {
	background-color: #712323;
    color: #d2d2d2;
}
.comp_qual_dice.comp_dice_kept.rolled_1 {
	background-color: #712323;
	color: #35ea33;
}
.comp_qual_dice.comp_dice_kept.rolled_20 {
	background-color: #712323;
    color: #d2d2d2;
	background-image: url(/web/images/hexa_red.png);
}

/*
	Jet simples
*/
.simple_roll {
	padding: 0.1em;
    background: white;
    border-radius: 5px;
}
.simple_roll.simple_initiative {
	background: #c1d4db;
}
.simple_roll.simple_damages {
	background: #ecd0b9;
}

/* input */

.chat_form {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: calc(100% - 4px);
	height: 25;
	border-top: 2px solid gray;
}
.chat_form > input {
	height: 25px;
	padding: 0px 2px;
    width: 100%;
    border: none;
}

/*
	Main area
*/

.label {
	font-weight: bold;
}


.mainTable {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: calc(100% - 400px - 2px);
	overflow: scroll;
	overflow-x: hidden;
}
.top_bar {
	background-color: rgb(255, 243, 202);
	padding: 5px;
	box-shadow: 0px 0px 5px black;
	z-index: 10;
	margin-bottom: 1em;
	line-height: 1.5em;
}
.top_edit_sheet {
	display: inline-block;
	float: right;
	margin-right: 1em;
}
.top_name {
	font-style: italic;
}
.top_table_name {
	float: right;
	margin-right: 1em;
	display: inline-block;
	font-family: fantasy;
    font-size: 0.95em;
}

/* jet de dés */
.inrc_view {
	padding: 10px;
    background: #eaeaea;
	margin-bottom: 1em;
	text-align: center;
}
.inrc_view input {
	height: 2em;
    width: 4em;
    text-align: center;
}
.inrc_view td, .inrc_view th {
	text-align: center;
	width: 7em;
}
.inrc_view > table {
	display: inline-block;
}
.inrc_view > div {
}
.inrc_view > table th {
	padding: 0.5em 0em;
}

.inrc_view_clickable {
	cursor: pointer;
	position: relative;
	border-radius: 5px;
	border: 1px solid transparent;
}
.inrc_view_clickable:hover {
	background: white;
	color: black;
}
th.inrc_qual {
	border: 1px solid black;
}
.inrc_qual_select {
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 60px;
	background: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	transform: translateX(-50%) translateY(100%);
	padding: 6px;
	padding-bottom: 3px;
	z-index: 10;
}
.inrc_qual_select > div {
	margin-bottom: 3px;
	/* background: green; */
	height: 25px;
	line-height: 25px;
	border-radius: 3px;
}
.inrc_qual_select > div:hover {
	opacity: 0.7;
}
.inrc_qual_co { background: rgb(178, 39, 31); color: rgb(236, 236, 236); }
.inrc_qual_in { background: rgb(134, 86, 179); color: rgb(236, 236, 236); }
.inrc_qual_iu { background: rgb(33, 137, 27); color: rgb(236, 236, 236); }
.inrc_qual_ch { background: rgb(3, 3, 3); color: rgb(236, 236, 236); }
.inrc_qual_de { background: rgb(205, 178, 80); color: black; }
.inrc_qual_ag { background: rgb(101, 138, 205); color: black; }
.inrc_qual_cn { background: rgb(241, 232, 230); color: black; }
.inrc_qual_fo { background: rgb(208, 150, 94); color: black; }

.inrc_actions {
	margin-top: 1em;
}
.inrc_routine {
	font-style: italic;
	margin-top: 0.5em;
	color: gray;
	cursor: not-allowed;
}
.inrc_routine_allowed {
	color: rgb(0, 107, 62);
	cursor: pointer;
}
.inrc_routine_allowed:hover {
	color: rgb(67, 7, 95);
}
.inrc_send.hidden_roll:not(:hover) {
	background: rgb(211, 211, 211);
}
.inrc_send.screen_roll:not(:hover) {
	background: rgb(231, 206, 243);
}


.reroll_comp_view input {
	background: #c5c5c5;
    color: #b93131;
    border-radius: 10px;
}
.list_reroll {
	text-align: center;
}
.dice_reroll_ask {
	display: inline-block;
    padding: 1px;
    box-shadow: 0 0px 3px 0px rgb(43, 12, 12);
    background-color: #d9e4ff;
    background-image: url(/web/images/hexa.png);
    background-size: cover;
    height: 2.5em;
    width: 2.5em;
    text-align: center;
    line-height: 2.5em;
    border-radius: 3em;
    margin: 0px 0.5em;
    cursor: pointer;
    margin: 1em;
	opacity: 0.7;
}


.dice_reroll_ask:hover {
    box-shadow: 0 0px 6px 0px black;
    background-color: #ffffff;
	opacity: 1;
}


.dice_reroll_ask.dice_for_reroll {
    box-shadow: 0 0px 6px 0px rgb(99, 97, 12);
	background-color: #8dc573;
	opacity: 1;
}

/*
	Roll for talents
*/
.select_win {
	z-index: 100;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	margin: auto;
	height: 800px;
	max-height: 90%;
	width: 650px;
	max-width: 90%;
	background: #ccd4d6;
	border: 2px solid black;
	padding: 0.6em;
}
.col_in_win {
	width: 49%;
	display: inline-block;
	vertical-align:top;
	text-align: left;
}
.select_win h3 {
	margin: 0.5em 0em;
	border-bottom: 1px solid rgb(123, 82, 54);
	font-family: fantasy;
}
.inrc_talent {
	padding: 0.3em;
    cursor: pointer;
	background: #e0e0e0;
	font-size: small;
}
.inrc_talent:hover {
	background: rgb(202 184 169);
    color: #464646;
}
.inrc_tal_roll {
	font-style: italic;
}
.inrc_tal_val {
	float: right;
	font-weight: bold;
	padding: 0em 1em;
}

.inrc_spell_error {
	color: #ff4b4b;
}

/*
	Roll for fight
*/

.rfight_view {
	padding: 10px;
    background: #e6d3d3;
	margin-bottom: 1em;
	text-align: center;
}
.rfight_view table {
	display: inline-block;
}
.rfight_view table th {
	padding: 0.4em 0em;
}
.rfight_view table td {
	text-align: center;
    width: 6.5em;
}
.rfight_view input {
	height: 2em;
    width: 4em;
    text-align: center;
}

button.rfight_ini:not(:hover) {
	background:rgb(193, 213, 219);
}
button.rfight_at:not(:hover) {
	/* background:rgb(255, 255, 255); */
}
button.rfight_dmg:not(:hover) {
	background:rgb(241, 149, 149);
}
button.rfight_prd:not(:hover) {
	background: #d4b097	;
}
button.rfight_esq:not(:hover) {
	background:rgb(192, 218, 186);
}
/*
	Roll details
*/
.rollDetails {
	z-index: 100;
	position: fixed;
	top: 3em;
	left: calc(50% - 225px - 2px - 2em);
	margin: auto;
	width: 450px;
	background: #bbbbbb;
	border: 2px solid black;
	border-width: 2px;
	padding: 2em;
}
.rollDetails .modifs-zero {
	text-align: center;
}
.rollDetails .modif-col {
	display: inline-block;
	width: calc(49% - 7px);
	border-left: 2px solid rgb(0, 102, 133);
	padding-left: 5px;
}
.rollDetails .modif-col:first-child {
	border-left: 2px solid rgb(133, 0, 0);
}
.rollDetails h3 {
	margin-top: 0px;
}
.rollDetailDice {
	
}
.rollDetailDice.diceOk {
	color: #005400;
}
.rollDetailDice.diceFail {
	color: #880d0d;
	font-style: italic;
}




.chat_d20 {
	text-align: center;
	background: #d0d0d0;
    padding: 5px;
}
.chat_d20_title {
	font-family: fantasy;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 2px;
	width: 270px;
    margin: auto;
    border-radius: 5px;
}
.chat_d20_jet {
	margin-top: 6px;
	position: relative;
}
.chat_d20_type {
	font-family: fantasy;
	font-weight: bold;
}
.chat_d20_jet_val {
	font-weight: bold;
	padding: 0px 5px;
}

.d20_reussite .chat_d20_title {
	background: #a9d2b2;
}
.d20_critique .chat_d20_title {
    font-weight: bold;
    color: black;
}
.d20_critique.d20_confirmation .chat_d20_title {
	background: #00b728;
}
.d20_echec .chat_d20_title {
	background: #e0b8b8;
}
.d20_maladresse .chat_d20_title {
    font-weight: bold;
    color: #ff0404;
}
.d20_maladresse.d20_confirmation .chat_d20_title {
	background: #1f1f1f;
}
.chat_d20_jet:before {
	display: inline-block;
	content: "";
	background-image: url('/web/images/d20.png');
	background-size: cover;
	width: 20px;
	height: 20px;
	position: relative;
	z-index: 20;
	margin-right: 10px;
	top: 5px;
}
.d20_attack .chat_d20_jet:before {
	background-image: url('/web/images/sword.png');
}
.d20_parade .chat_d20_jet:before {
	background-image: url('/web/images/shield.png');
}
.d20_esquive .chat_d20_jet:before {
	background-image: url('/web/images/dodge.png');
}

/*
	Select weapons, show bonuses
*/
.select_weapon_item {
	padding: 0.3em;
    cursor: pointer;
	background: #e0e0e0;
}
.select_weapon_item:hover {
	background: rgb(202 184 169);
    color: #464646;
}
.select_win h4 {
	font-family: fantasy;
	margin-bottom: 0px;
	margin-left: 5px;
	text-align: left;
}
.select_win h3 {
	text-align: left;
}
.select_win ul {
	margin: 0px;
    padding-left: 20px;
    list-style: none;
	text-align: left;
}
.select_win li {
	border-bottom: 1px solid #a99f7e;
    margin-bottom: 2px;
}
.select_win ul li em {
	float: right;
    font-weight: bold;
    font-style: normal;
}
.bonusesWin {
	width: 800px;
}
