<!DOCTYPE html>
<html>

<head>
	<title>L'Oeil Noir en ligne</title>
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/index.css" />
	<link rel="icon" type="image/png" href="/web/images/icon.png" />

	<!-- development version, includes helpful console warnings -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->

	<!-- production version, optimized for size and speed -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
	<div id="app">
		<div id="app_column">
			<h1>Système de fiches et tables pour l'Oeil Noir</h1>
			<p style="font-style: italic;">
				Veuillez sauvegarder toutes les url des fiches et des tables que vous créez de votre côté. Les url ne
				sont stockées que localement et seront perdues si vous effacez les données ou utilisez un autre
				appareil.
			</p>
			<h2>Nouveau</h2>
			<div id="create_block">
				<button v-on:click="new_character">Nouveau personnage</button>
				<br />
				<button v-on:click="new_table">Nouvelle table</button>
			</div><template v-if="tables.length">
				<h2>Tables</h2>
				<ol>
					<li v-for="id in tables">
						<a :href="'/web/table.html?table=' + id + '&gm=' + miniHash(id)" target="_blank">{{ idToName[id]
							|| id }}</a>
					</li>
				</ol>
			</template>

			<template v-if="characters.length">
				<h2>Personnages</h2>
				<ol>
					<li v-for="id in characters">
						<a :href="'/web/sheet.html?id=' + id" target="_blank">{{ idToName[id] || id }}</a>
					</li>
				</ol>
			</template>

			<button v-on:click="toogleImportExport" class="importExportButton">Importer / Exporter</button>

			<template v-if="importExShown">
				<div class="winBack" v-on:click="toogleImportExport"></div>
				<div class="imp_exp_win select_win scrollable">
					<div class="col_in_win">
						<h3>Tables</h3>
						<h4>Importer</h4>
						<p>Veuillez entrer un ID par ligne</p>
						<textarea v-model="tableImportList"></textarea>
						<button v-on:click="importTables" class="importButton">Importer</button>
						<h4>Exporter (copier la liste)</h4>
						<p>
							<template v-for="id in tables">
								<span>{{ id }};{{ miniHash(id) }}</span>
								<br />
							</template>
						</p>

					</div>
					<div class="col_in_win">
						<h3>Personnages</h3>
						<h4>Importer</h4>
						<p>Veuillez entrer un ID par ligne</p>
						<textarea v-model="charImportList"></textarea>
						<button v-on:click="importCharacters" class="importButton">Importer</button>
						<h4>Exporter (copier la liste)</h4>
						<p>
							<template v-for="id in characters">
								<span>{{ id }};{{ miniHashStep(id, 2) }}</span>
								<br />
							</template>
						</p>
					</div>
					<button v-on:click="toogleImportExport" class="importExportButton">Fermer</button>
				</div>
			</template>
		</div>

		<footer>
			<a href="https://github.com/webalorn/ocs">Code source disponible sur github</a> - Par webalorn
		</footer>
	</div>

	<script src="app/util.js"></script>
	<script src="app/index_app.js"></script>
</body>

</html>
