<!DOCTYPE html>
<html>

<head>
	<title>Fiche de personnage</title>
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/sheet.css" />
	<link rel="icon" type="image/png" href="/web/images/icon.png" />

	<!-- development version, includes helpful console warnings -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->

	<!-- production version, optimized for size and speed -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
	<div id="app" style="display: none;">
		<div v-if="!connected && !cantConnect" class="loading">Loading...</div>
		<div v-if="!connected && cantConnect" class="error">Error, can't load the character "{{ sheetId }}"</div>
		<sheet-compo v-if="connected" v-bind:socket="socket" v-bind:id="sheetId">
		</sheet-compo>
	</div>

	<script>
		const event_sheet_loaded = new Event('sheet_loaded');
	</script>


	<script src="app/util.js"></script>
	<script src="app/comp/sheet.js"></script>
	<script src="app/sheet_app.js"></script>
</body>

</html>
