<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Aide à la traduction pour l'Œil Noir</title>
	<link rel="stylesheet" href="/web/css/main.css" />
	<link rel="icon" type="image/png" href="/web/images/icon.png" />

	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

	<!-- production version, optimized for size and speed -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
</head>

<body class="app_body">
	<div id="app" class="niceInputs">
		<div class="app_column">
			<h1>Aide pour la traduction</h1>
			<textarea placeholder="Texte d'origine..." v-model="text">
			</textarea>
			<button class="centerButton" v-on:click="openDeepl">Traduction dans Deepl</button>
			<h2>Mise en forme uniquement</h2>
			<p class="displayText">{{ formatedText }}</p>

			<label for="cut_pars">Formatage du texte :</label>
			<input type="checkbox" v-model="cut_pars" id="cut_pars">
			<br>
			<label for="use_dico">Pré-traduction de termes techniques :</label>
			<input type="checkbox" v-model="use_dico" id="use_dico">
			<br>
			<label for="open_auto">Automatiquement ouvrir DeepL :</label>
			<input type="checkbox" v-model="open_auto" id="open_auto">
			<br>
		</div>
	</div>

	<style>
		.displayText {
			white-space: pre-line;
			background: #e1ffd5;
			padding: 0.5em;
		}
	</style>

	<script src="/web/app/util.js"></script>
	<script>

		let DICO = {
			"Ausrüstung": "Équipement",
			"Nahkampf": "Mêlée",
			"Fernkampf": "Combat à distance",
			"FK": "CD",
			"AP": "PAV",
			"SP": "BL",
			"Kampftechniken": "Techniques de Combat",
			"Kampftechnik": "Technique de combat",
			"KT": "TC",
			"Probe": "Épreuve",
			"Wurf": "Jet",
			"INI": " INI",
			"RS": "PR",
			"GS": "VIT",
			"AW": "ESQ",
			"LE": "EV",
			"Wundschwelle": "Seuil de blessure",
			"WS": "SB",
			"MS": "LM",
			"Nahkampfwaffen": "Armes de mêlée",
			"Waffe": "Arme",
			"Trefferpunkte": "Points d'Impact",
			"TP": "PI",
			"Reichweite": "Allonge",
			"Verschleiß": "Usure",
			"Waffen in der Nebenhand": "Arme dans la main non-directrice",
			"Fernkampfwaffen": "Armes à distance",
			"Ladezeit": "Temps de rechargement",
			"FW": "VC",
			"Fertigkeitswert": "Valeur de compétence",
			"ZK": "TP",
			"SK": "TM",
			"QS": "NR",
			"Alaani": "Alaani",
			"Angram": "Angram",
			"Asdharia": "Asdharia",
			"Atak": "Atak",
			"Aureliani": "Aureliani",
			"Bosparano": "Bosparano",
			"Fjarningsch": "Fjarning",
			"Garethi": "Garethi",
			"Goblinisch": "Gobelinique",
			"Isdira": "Isdira",
			"Mohisch": "Mohique",
			"Nujuka": "Nujuka",
			"Ogrisch": "Ogre",
			"Oloarkh": "Oloarkh",
			"Ologhaijan": "Ologhaïan",
			"Rabensprache": "Langue des corbeaux",
			"Rogolan": "Rogolan",
			"Rssahh": "Rssahh",
			"Ruuz": "Ruuz",
			"Saga-Thorwalsch": "Saga thorvalque",
			"Thorwalsch": "Thorvalque",
			"Tulamidya": "Tulamidya",
			"Ur-Tulamidya": "Ur-Tulamidya",
			"Zelemja": "Zelemja",
			"Zhayad": "Zhayad",
			"Zyklopäisch": "Cyclopéen",
			"Schriften": "Écritures",
			"Altes Alaani": "Vieil Alaani",
			"Angram-Bilderschrift": "Pictographie Angram",
			"Chrmk": "Chrmk",
			"Chuchas": "Chuchas",
			"Geheiligte Glyphen von Unau": "Glyphes sacrées d'Unau",
			"Hjaldingsche Runen": "Runes Hjaldings",
			"Imperiale Zeichen": "Signes impériaux",
			"Isdira- und Asdharia-Zeichen": "Signes Isdiras et Asdharias",
			"Kusliker Zeichen": "Signes kusliks",
			"Nanduria-Zeichen": "Signes Nandurias",
			"Rogolan-Runen": "Runes rogolanes",
			"Thorwalsche Runen": "Runes thorvalques",
			"Trollische Raumbilderschrift": "Pictographie spatiale trolle",
			"Tulamidya-Zeichen": "Signes Tulamidya",
			"Ur-Tulamidya-Zeichen": "Signes Tulamidyas archaïques",
			"Zhayad-Zeichen": "Signes Zhayad",
			"Zustände": "États",
			"Belastung": "Encombrement",
			"Betäubung": "Étourdissement",
			"Entrückung": "Extase",
			"Erregung": "Excitation",
			"Furcht": "Terreur",
			"Paralyse": "Paralysie",
			"Schmerz": "Douleur",
			"Stufe I": "Niveau I",
			"Stufe II": "Niveau II",
			"Stufe III": "Niveau III",
			"Stufe IV": "Niveau IV",
			"Handlungsunfähig": "incapable d'agir",
			"Trance": "Transe",
			"Verwirrung": "Confusion",
			"Bewegungsfähig": "Cloué sur place",
			"Bewusstlos": "Inconscient",
			"Blutrausch": "Rage sanguinaire",
			"Brennend": "Brûlé",
			"Eingeengt": "À l'étroit",
			"Fixiert": "Immobilisé",
			"Handlungsunfähig": "Incapable d'agir",
			"Krank": "Malade",
			"Liegend": "À terre",
			"Raserei": "Frénésie",
			"Überrascht": "Surpris",
			"Übler Geruch": "Mauvaise odeur",
			"Unsichtbar": "Invisible",
			"Vergiftet": "Empoisonné",
			"Versteinert": "Pétrifié",
			"Eigenschaften": "Qualités",
			"Mut": "Courage",
			"Klugheit": "Intelligence",
			"Intuition": "Intuition",
			"Charisma": "Charisme",
			"Fingerfertigkeit": "Dextérité",
			"Gewandheit": "Agilité",
			"Konstitution": "Constitution",
			"Körperkraft": "Force",
			"MU": "CO",
			"KL": "IN",
			"IN": "IU",
			"CH": "CH",
			"FF": "DE",
			"GE": "AG",
			"KO": "CO",
			"KK": "FO",
			"BE": "ENC",
			"INI": " INI",
			"RS": "PR",
			"GS": " VIT",
			"LE": " EV",
			"WS": " SD",
			"Körper": "Physique",
			"Gesellschaft": "Social",
			"Natur": "Nature",
			"Wissen": "Connaissances",
			"Handwerk": "Savoirs-faire",
			"Sprachen": "Langues",
			"FW": "VC",
			"Tierkunde": "Zoologie",
			"Fischen & Angeln": "Pêche",
			"Brett & Glücksspiel": "Jeux",
			"Geographie": "Géographie",
			"Geschichtswissen": "Histoire",
			"Götter & Kulte": "Dieux & cultes",
			"Magiekunde": "Magicologie",
			"Mechanik": "Mécanique",
			"Rechnen": "Calcul",
			"Rechtskunde": "Droit",
			"Sphärenkunde": "Sphérologie",
			"Sternkunde": "Astronomie",
			"Alchimie": "Alchimie",
			"Boote & Schiffe": "Bateaux & Navires",
			"Fahrzeuge": "Conduite",
			"Heilkunde Gift": "Soin des poisons",
			"Heilkunde Krankheiten": "Soin des maladies",
			"Holzbearbeitung": "Travail du bois",
			"Lebensmittelbearbeitung": "Cuisine",
			"Lederbearbeitung": "Travail du cuir",
			"Metallbearbeitung": "Travail du métal",
			"Steinbearbeitung": "Travail de la pierre",
			"Stoffbearbeitung": "Travail du tissu",
			"Klettern": "Escalade",
			"Körperbeherrschung": "Maîtrise corporelle",
			"Schlangenmensch": "Contorsionniste",
			"Skifahren": "Skier",
			"Abrollen&": "Roulades&",
			"Athlet&": "Athlète&",
			"Kraftakt": "Tour de Force",
			"Schwimmen": "Natation",
			"Selbstbeherrschung": "Maîtrise de soi",
			"Schmerzen unterdrücken": "Réprimer la douleur",
			"Hart im Nehmen": "Gros dur",
			"Sinnesschärfe": "Acuité sensorielle",
			"Lippenlesen": "Lire sur les lèvres",
			"Fuchssinn": "Sens du renard",
			"Herausragender Sinn: Gehör": "Sens exceptionnel : Ouïe",
			"Herausragender Sinn: Geruch & Geschmack": "Sens exceptionnel : Odorat & Goût",
			"Herausragender Sinn: Sicht": "Sens exceptionnel : Vue",
			"Herausragender Sinn: Tastsinn": "Sens exceptionnel : Toucher",
			"Zwergennase": "Instinct de nain",
			"Eingeschränkter Sinn Gehör": "Sens restreint : Ouïe",
			"Eingeschränkter Sinn Geruch & Geschmack": "Sens restreint : Goût & Odorat",
			"Eingeschränkter Sinn Sicht": "Sens restreint : Vue",
			"Eingeschränkter Sinn Tastsinn": "Sens restreint : Toucher",
			"Verstümmelt: Einäugig": "Mutilé : Borgne",
			"Verstümmelt: Einohrig": "Mutilé : une oreille",
			"Verbergen": "Furtivité",
			"Einschüchtern": "Intimidation",
			"Sozialer Stand": "Rang social",
			"Basiliskentöter": "Tueur de Basilic",
			"Drachentöter": "Tueur de Dragon",
			"Sprachfehler": "Problème dʼélocution",
			"Anpeitscher": "Conduite d'esclaves",
			"Drohgebärden": "Gestes menaçants",
			"Provozieren": "Provocation",
			"Guter Gardist, böser Gardist&": "Gentil flic, méchant flic&",
			"Willenskraft": "Volonté",
			"Kulturkunde&": "Connaissance des cultures&",
			"Gestählter Wille&": "Volonté de fer&",
			"Fliegen": "Vol",
			"Gaukeleien": "Batellerie",
			"Bauchreden": "Ventriloquie",
			"Feuer schlucken": "Avaleur de feu",
			"Feuerwerk": "Feux d'artifice",
			"Reiten": "Équitation",
			"Raubtiergeruch": "Odeur de prédateur",
			"Singen": "Chant",
			"Wohlklang": "Voie agréable",
			"Operngesang": "Chant lyrique",
			"Zweistimmiger Gesang": "Chant diphonique",
			"Ermutigender Gesang": "Chant d'encouragement",
			"Faszinierender Gesang": "Chant fascinant",
			"Tanzen": "Danse",
			"Taschendiebstahl": "Vol à la tire",
			"Zechen": "Alcools & drogues",
			"Bekehren & Überzeugen": "Convertir & convaincre",
			"Drachentöter": "Tueur de dragons",
			"Geborener Redner": "Orateur né",
			"Vertrauenerweckend": "Rassurant",
			"Stigma": "Stigmate",
			"Übler Geruch": "Mauvaise odeur",
			"Liebling der Massen&": "Adoré par la foule&",
			"Betören": "Séduction",
			"Angenehmer Geruch": "Fragrance agréable",
			"Gutaussehend": "Beauté",
			"Hässlich": "Laideur",
			"Rahjasutra-Kenntnisse&": "Connaissance du Rahjasutra&",
			"Verführungskunst&": "Art de la séduction&",
			"Anpeitscher": "Conduite d'esclaves",
			"Etikette": "Étiquette",
			"Heraldik": "Héraldique",
			"Farbenblind": "Achromatie",
			"Dienen & Gehorchen": "Servir et obéir",
			"Leibdiener": "Serviteur",
			"Gassenwissen": "Connaissance de la rue",
			"Sozialer Stand": "Rang social",
			"Basiliskentöter": "Tueur de Basilic",
			"Drachentöter": "Tueur de Dragon",
			"Soziale Anpassungsfähigkeit": "Caméléon social",
			"Ortskenntnis": "Connaissance du terrain",
			"Unscheinbar": "Effacé",
			"Menschenkenntnis": "Nature humaine",
			"Überreden": "Persuasion",
			"Anführer": "Chef",
			"Feenfreund": "Ami des Fées",
			"Verkleiden": "Déguisement",
			"Fährtensuchen": "Pistage",
			"Dschungelkundig": "Connaissance de la jungle",
			"Eis- und Schneekundig": "Connaissance de la glace et de la neige",
			"Gebirgskundig": "Connaissance de la Montagne",
			"Höhlenkundig": "Connaissance des cavernes",
			"Kulturlandkundig": "Connaissance des terres cultivées",
			"Meereskundig": "Connaissance des mers",
			"Steppenkundig": "Connaissance des steppes",
			"Sumpfkundig": "Spécialiste des marais",
			"Waldkundig": "Connaissance des forêts",
			"Wüstenkundig": "Connaissance des déserts",
			"Fesseln": "Pratique des nœuds",
			"Seile herstellen": "Fabrication de cordes",
			"Fischer&": "Pêcheur&",
			"Brabacudagift": "Poison de Brabacuda",
			"Orientierung": "Orientation",
			"Orientierung unter Tage": "Orientation souterraine",
			"Richtungssinn": "Sens de l'orientation",
			"Pflanzenkunde": "Botanique",
			"Sammler": "Cueilleur",
			"Ackerbau": "Agriculture",
			"Jäger&": "Chasseur&",
			"Tierfreund&": "Ami des animaux&",
			"Abrichten": "Dresser",
			"Gift melken (Land - und Lufttiere)": "Récupération du venin (animaux terrestres et aériens)",
			"Gift melken": "Récupération du venin (animaux aquatiques)",
			"Tierstimmen imitieren": "Imitation de cris dʼanimaux",
			"Mantikorgift": "Poison de Manticore",
			"Morfugift": "Poison de Morfu",
			"Wildnisleben": "Survie",
			"Wettervorhersage": "Prévoir le temps",
			"Iglubau": "Construction d'igloo",
			"Falschspielen": "Tricherie",
			"Boltan": "Boltan",
			"Die böse Eins": "Un Maudit",
			"Garadan": "Garadan",
			"Inrahspiel": "Jeu de l'Inrah",
			"Rote und Weiße Kamele": "Chameaux blancs et rouges",
			"Pelura": "Pelura",
			"Pentagramm": "Pentagramme",
			"Schlacht von Jergan": "Bataille de Jergan",
			"Kartographie": "Cartographie",
			"Myranor-Geographie": "Géographie-Myranor",
			"Uthuria-Geographie": "Géographie-Uthuria",
			"Vorfahren der Mittelländer": "Ancêtres des Impériaux",
			"Zeitalterforschung": "Étude des Âges",
			"Magierphilosophie": "Philosophie de la Magie",
			"Kriegskunst": "Art de la guerre",
			"Analytiker": "Analyste",
			"Dunkle Pforten": "Sombres portail",
			"Gefäße des Rohal": "Réceptacles de Rohal",
			"Uhrwerk": "Horlogerie",
			"Vinsalter Ei": "&Oelig;uf de Vinsalt",
			"Zwergische Tresore": "Coffre-fort de nain",
			"Zahlenmystik": "Numérologie",
			"Algebra": "Algèbre",
			"Geometrie": "Géométrie",
			"Wahrscheinlichkeitsrechnung": "Calcul de probabilité",
			"Gildenrecht": "Droit des guildes de magiciens",
			"Sagen & Legenden": "Contes & légendes",
			"Inseln im Nebel": "Iles dans la brume",
			"Menacoriten": "Menacorites",
			"Orkischer Kalender": "Calendrier Ork",
			"Meister der Improvisation": "Maître de l'improvisation",
			"Antidot": "Antidote",
			"Feuerwerk": "Feux d'artifice",
			"Glas": "Verre",
			"Heiltrank": "Potion de guérison",
			"Liebestrunk": "Philtre d'amour",
			"Porzellan": "Porcelaine",
			"Unauer Porzellan": "Porcelaine d'Unau",
			"Unsichtbarkeitselixier": "Élixir d'invisibilité",
			"Verwandlungselixier": "Élixir de métamorphose",
			"Waffenbalsam": "Beaume des armes",
			"Willenstrunk": "Potion de volonté",
			"Zaubertrank": "Potion magique",
			"Navigation": "Navigation",
			"Durch den Efferdwall und zurück": "A travers la barrière de Thylos et retour",
			"Weg durch die Sargasso-See": "Chemin à travers la mer des Sargasses",
			"Landsegler": "Voilier des glaces",
			"Handel": "Commerce",
			"Bine Maschores": "Bine Maschores",
			"Hehlerei": "Recel",
			"Rosstäuscher": "Maquignon",
			"Verwalten": "Administration",
			"Arax": "Arax",
			"Kelmon": "Kelmon",
			"Kukris": "Kukris",
			"Mandragora": "Mandragore",
			"Omrais": "Omrais",
			"Sunsura": "Sunsura",
			"Tulmadron": "Tulmadron",
			"Wurara": "Wurara",
			"Aussatz": "Lèpre",
			"Blaue Keuche": "Râle bleu",
			"Blutiger Rotz": "Morve sanglante",
			"Dumpfschädel": "Crâne bourdonnant",
			"Efferd- und Kerkersieche": "Mal de Thylos et des donjons",
			"Flinker Difar": "Difar vive",
			"Gilbe": "Jaunisse",
			"Jahresfieber": "Fièvre annuelle",
			"Lutanas": "Lutanas",
			"Rascher Wahn": "Délire rapide",
			"Schwarze Wut": "Rage noire",
			"Sumpffieber": "Fièvre des marais",
			"Tollwut": "Rage",
			"Wundfieber": "Fièvre des plaies",
			"Zorganpocken": "Variole de Zorgan",
			"Heilkunde Seele": "Soin de l'esprit",
			"Heilkunde Wunden": "Soin des blessures",
			"Boote bauen": "Construction de navires",
			"Kutschen bauen": "Construire des chariots",
			"Instrumente bauen": "Facture dʼinstruments",
			"Räder herstellen": "Fabrication de roues",
			"Rüstungsherstellung": "Fabrication d'armures",
			"Schiffe bauen": "Construction de bateaux",
			"Schmuck herstellen": "Joaillerie&",
			"Waffenherstellung": "Fabrication d'armes",
			"Drehleier": "Vielle",
			"Elfenbogen": "Arc elfique",
			"Spinett": "Épinette",
			"Standharfe": "Harpe",
			"Smutje": "Smutje",
			"Schnapsbrennen": "Distillation",
			"Konditor": "Chef d'orchestre",
			"Meister der Brabacudaküche": "Maître de la préparation du Brabacuda",
			"Schaumkuss": "Schaumkuss",
			"Schokolade": "Chocolat",
			"Drachenschuppen": "Écailles de dragon",
			"Iryanleder": "Cuir d'Iryan",
			"Malen & Zeichnen": "Peinture & dessin",
			"Dokumente fälschen": "Falsification de document",
			"Drucken": "Imprimeur",
			"Kalligraphie": "Calligraphie",
			"Kohlezeichnungen": "Dessins au fusain",
			"Kupferstich anfertigen": "Gravure",
			"Ölgemälde malen": "Peinture à l'huile",
			"Tätowieren": "Tatouage",
			"Wandmalerei": "Fresque murale",
			"Zauberzeichen malen": "Signes magiques",
			"Rüstungsherstellung": "Fabrication d'armures",
			"Fätelungstechnik": "Techniques de fermentation",
			"Filigranes Kettenknüpfen": "Filigranes Kettenknüpfen",
			"Lehmbacktechnik": "Technique de cuisson à l'argile",
			"Musizieren": "Musique",
			"Dirigieren": "Diriger un orchestre",
			"Schlösserknacken": "Crochetage",
			"Fallen entschärfen": "Désamorcer des pièges",
			"Glasbläserei": "Soufflage de verre",
			"Kristalle züchten": "Cultiver des cristaux",
			"Töpferarbeiten": "Poterie",
			"Bildhauerei": "Sculpture",
			"Tulmadron-Abbau": "Extraction du Tulmadron",
			"Prunkkleider herstellen": "Haute couture",
			"Drôler Spitze": "Dentelle de Drôl",
			"Dolche": "Dagues",
			"Fechtwaffen": "Armes de duel",
			"Hiebwaffen": "Haches d'masses",
			"Kettenwaffen": "Armes à chaîne",
			"Lanzen": "Lances",
			"Raufen": "Bagarre",
			"Schwerter": "Épées",
			"Stangenwaffen": "Armes d'hast",
			"Zweihandhiebwaffen": "Haches et masses à 2 mains",
			"Zweihandschwerter": "Épées à deux mains",
			"Schilde": "Boucliers",
			"Adel": "Noblesse",
			"Altersresistenz": "Résistance au vieilissement",
			"Angenehmer Geruch": "Fragrance agréable",
			"Basiliskentöter": "Tueur de Basilic",
			"Begabung": "Prédisposition",
			"Beidhändig": "Ambidextre",
			"Drachentöter": "Tueur de dragons",
			"Dunkelsicht I": "Nyctalopie I",
			"Dunkelsicht II": "Nyctalopie II",
			"Eisenaffine Aura": "Aura affinifer",
			"Eisern": "Solide comme le fer",
			"Entfernungssinn": "Sens des distances",
			"Fechtwaffen": "Armes de duel",
			"Flink": "Rapidité",
			"Fuchssinn": "Sens du renard",
			"Geborener Redner": "Orateur né",
			"Geweihter": "Pouvoir divin",
			"Giftresistenz": "Résistance aux poisons",
			"Glück": "Chance",
			"Gutaussehend": "Beauté",
			"Hart im Nehmen": "Gros dur",
			"Hass auf": "Haine des",
			"Herausragende Fertigkeit": "Compétence exceptionelle",
			"Herausragende Kampftechnik": "Technique de combat exceptionnelle",
			"Herausragender Sinn: Gehör": "Sens exceptionnel : Ouïe",
			"Herausragender Sinn: Geruch & Geschmack": "Sens exceptionnel : Odorat & Goût",
			"Herausragender Sinn: Sicht": "Sens exceptionnel : Vue",
			"Herausragender Sinn: Tastsinn": "Sens exceptionnel : Toucher",
			"Hitzeresistenz": "Résistance à la chaleur",
			"Hohe Astralkraft": "Grande Énergie Astrale",
			"Hohe Karmalkraft": "Grande Énergie Karmique",
			"Hohe Lebenskraft": "Grande Énergie Vitale",
			"Hohe Seelenkraft": "Grande ténacité mentale",
			"Hohe Zähigkeit": "Grande ténacité physique",
			"Immunität gegen&": "Immunité contre&",
			"Immunität gegen&": "Immunité contre&",
			"Kälteresistenz": "Résistance au froid",
			"Krankheitsresistenz": "Résistance aux maladies",
			"Magische Einstimmung": "Résonance magique",
			"Mystiker": "Mystique",
			"Nichtschläfer": "Veilleur",
			"Pragmatiker": "Pragmatique",
			"Reich": "Richesse",
			"Richtungssinn": "Sens de l'orientation",
			"Saumagen": "Estomac d'Autruche",
			"Schlangenmensch": "Contorsionniste",
			"Schnell wieder auf den Beinen": "Rapide pour se remettre d’aplomb",
			"Schwer zu verzaubern": "Résistance à lʼensorcellement",
			"Soziale Anpassungsfähigkeit": "Caméléon social",
			"Tierfreund": "Ami des animaux",
			"Unscheinbar": "Effacé",
			"Verbesserte Regeneration&": "Régénération améliorée (énergie astrale)",
			"Verbesserte Regeneration&": "Régénération améliorée (énergie karmique)",
			"Verbesserte Regeneration&": "Régénération améliorée (énergie vitale)",
			"Verhüllte Aura": "Aura voilée",
			"Vertrauenerweckend": "Rassurant",
			"Waffenbegabung": "Combattant né",
			"Wasserlebewesen": "Êtres aquatiques",
			"Wohlklang": "Voie agréable",
			"Zäher Hund": "Coriace",
			"Zauberer": "Pouvoir magique",
			"Zeitgefühl": "Notion du temps",
			"Zweistimmiger Gesang": "Chant diphonique",
			"Zwergennase": "Instinct de nain",
			"Angst vor": "Phobie",
			"Arm": "Pauvreté",
			"Artefaktgebunden": "Astreint à un artefact",
			"Behäbig": "Corpulent",
			"Blind": "Aveugle",
			"Blutrausch": "Rage sanguinaire",
			"Eingeschränkter Sinn: Sicht": "Sens restreint : Vue",
			"Eingeschränkter Sinn: Gehör": "Sens restreint : Ouïe",
			"Eingeschränkter Sinn: Geruch & Geschmack": "Sens restreint : Goût & Odorat",
			"Eingeschränkter Sinn: Tastsinn": "Sens restreint : Toucher",
			"Farbenblind": "Achromatie",
			"Fettleibig": "Obésité",
			"Giftanfällig": "Sensibilité aux poisons",
			"Gläsern": "Cassant comme le verre",
			"Hässlich": "Laideur",
			"Hitzeempfindlich": "Sensibilité à la chaleur",
			"Jagdwildgeruch": "Odeur de gibier",
			"Kälteempfindlich": "Sensibilité au froid",
			"Keine Flugsalbe": "Sans onguent de vol",
			"Kein Vertrauter": "Sans familier",
			"Körpergebundene Kraft": "Force astrale liée au corps",
			"Körperliche Auffälligkeit": "Anomalie physique",
			"Krankheitsanfällig": "Sensibilité aux maladies",
			"Lästige Mindergeister": "Esprit mineur importun",
			"Lichtempfindlich": "Sensibilité à la lumière",
			"Magische Einschränkung": "Dissonance magique",
			"Nachtblind": "Cécité nocturne",
			"Niedrige Astralkraft": "Faible énergie astrale",
			"Niedrige Karmalkraft": "Faible énergie karmique",
			"Niedrige Lebenskraft": "Faible énergie vitale",
			"Niedrige Seelenkraft": "Faible ténacité mentale",
			"Niedrige Zähigkeit": "Faible ténacité physique",
			"Pech": "Déveine chronique",
			"Pechmagnet": "Déveine chronique",
			"Persönlichkeitsschwächen": "Faiblesse de caractère",
			"Prinzipientreue": "Personne de principes",
			"Raubtiergeruch": "Odeur de prédateur",
			"Schlafwandler": "Somnambule",
			"Schlechte Angewohnheit": "Mauvaise habitude",
			"Schlechte Eigenschaft": "Mauvaise qualité",
			"Schlechte Regeneration&": "Faible régénération (énergie astrale)",
			"Schlechte Regeneration&": "Faible régénération (énergie karmique)",
			"Schlechte Regeneration&": "Faible régénération (énergie vitale)",
			"Schwacher Astralkörper": "Corps astral faible",
			"Schwacher Karmalkörper": "Corps karmique faible",
			"Sensibler Geruchssinn": "Odorat sensible",
			"Sprachfehler": "Problème dʼélocution",
			"Stigma": "Stigmate",
			"Stumm": "Mutisme",
			"Taub": "Surdité",
			"Unfähig": "Inaptitude",
			"Unfrei": "Servitude",
			"Unverträglichkeit gegenüber Alkohol": "Intolérance à l’alcool",
			"Verpflichtungen": "Obligations",
			"Verstümmelt: Einarmig": "Mutilé : Manchot",
			"Verstümmelt: Einäugig": "Mutilé : Borgne",
			"Verstümmelt: Einbeinig": "Mutilé : Unijambiste",
			"Verstümmelt: Einhändig": "Mutilé : une main",
			"Verstümmelt: Einohrig": "Mutilé : une oreille",
			"Verweichlicht": "Douillet",
			"Wahrer Name": "Nom essentiel",
			"Wilde Magie": "Magie sauvage",
			"Zauberanfällig": "Sensibilité à la magie",
			"Zerbrechlich": "Fragile",
			"Abrichter": "Dressage",
			"Abrollen": "Roulades",
			"Anpeitscher": "Conduite d'esclaves",
			"Diener": "Domestique",
			"Dokumentenfälscher": "Falsificateur de documents",
			"Eiserner Wille": "Volonté de fer",
			"Gift melken (Land- und Lufttiere)": "Récupération du venin (animaux terrestres et aériens)",
			"Gift melken&": "Récupération du venin (animaux aquatiques)",
			"Gildenrecht": "Droit des guildes",
			"Glasbläserei": "Soufflage de verre",
			"Guter Gardist, böser Gardist": "Gentil flic, méchant flic",
			"Hauswirtschaft": "Entretien d'une maison",
			"Hehlerei": "Recel",
			"Heraldik": "Héraldique",
			"Iglubau": "Construction d'igloo",
			"Instrumente bauen": "Facture dʼinstruments",
			"Jäger": "Chasseur",
			"Kapellmeister": "Chef d'orchestre",
			"Kohlezeichnungen": "Dessins au fusain",
			"Konditor": "Pâtissier",
			"Kristallzucht": "Cristalliculture",
			"Kupferstich": "Gravure sur cuivre",
			"Kutschenbauer": "Construire des chariots",
			"Leg-ga-Leg": "Leg-ga-Leg",
			"Leibdiener": "Valet",
			"Liebling der Massen": "Adoré par la foule",
			"Lippenlesen": "Lire sur les lèvres",
			"Möbel herstellen": "Fabriquer des meubles",
			"Navigation": "Navigation",
			"Ölmalerei": "Peinture à l'huile",
			"Opernsänger": "Chanteur d'opéra",
			"Orientierung unter Tage": "Orientation souterraine",
			"Ortskenntnis": "Connaissance locale",
			"Provozieren&": "Provocation&",
			"Prunkkleidung herstellen": "Haute couture",
			"Pyromantiker": "Pyromancie",
			"Rahjasutra-Kenntnisse": "Connaissance du Rahjasutra",
			"Rosstäuscher": "Maquignon",
			"Rüstungsbau": "Fabriquant d'armures",
			"Sammler": "Cueilleur",
			"Schiffsbau": "Construction de bateaux",
			"Schmerzen unterdrücken": "Réprimer la douleur",
			"Schmuck herstellen": "Joaillerie&",
			"Schnapsbrennerei": "Distiller",
			"Schnellschreiber": "Écriture rapide",
			"Schriftstellerei": "Écrivain professionel",
			"Seile herstellen": "Fabrication de cordes",
			"Skifahren": "Ski",
			"Smutje": "Smutje",
			"Stellmacherei": "Charron&",
			"Töpferei": "Poterie",
			"Verführungskunst": "Art de la séduction",
			"Viehzucht": "Élevage",
			"Waffenbau": "Armement",
			"Wandmalerei": "Fresque",
			"Wettervorhersage": "Prévoir le temps",
			"Zahlenmystik": "Numérologie",
			"Attacke verbessern": "Améliorer l'attaque",
			"Ausweichen verbessern": "Améliorer l'esquive",
			"Eigenschaft verbessern": "Améliorer une qualité",
			"Empathie": "Empathie",
			"Fernkampf verbessern": "Améliorer le combat à distance",
			"Fleischwunde": "Blessure superficielle",
			"Höhere Prophezeiung": "Haute prophétie",
			"Parade verbessern": "Améliorer la parade",
			"Magiegespür": "Sens de la magie",
			"Prophezeiung": "Prophétie",
			"Wachsamkeit": "Vigilance",
			"Berufsgeheimnisse": "Secrets professionels",
			"Antidot": "Antidote",
			"Algebra": "Algèbre",
			"Arax": "Arax",
			"Aussatz": "Lèpre",
			"Bannstaub": "Poudre de sort",
			"Blaue Keuche": "Râle bleu",
			"Blutiger Rotz": "Morve sanglante",
			"Boltan": "Boltan",
			"Brabacudagift": "Poison de Brabacuda",
			"Die böse Eins": "Un Maudit",
			"Drachenschuppen": "Écailles de dragon",
			"Drehleier": "Vielle",
			"Drôler Spitze": "Dentelle de Drôl",
			"Dumpfschädel": "Crâne bourdonnant",
			"Dunkle Pforten": "Sombres portail",
			"Durch den Efferdwall und zurück": "A travers la barrière de Thylos et retour",
			"Efferd- und Kerkersieche": "Mal de Thylos et des donjons",
			"Elfenbogen": "Arc elfique",
			"Fätelungstechnik": "Techniques de fermentation",
			"Feuerwerk": "Feux d'artifice",
			"Filigranes Kettenknüpfen": "Filigranes Kettenknüpfen",
			"Flinker Difar": "Difar vive",
			"Garadan": "Garadan",
			"Gefäße des Rohal": "Réceptacles de Rohal",
			"Geometrie": "Géométrie",
			"Gilbe": "Jaune",
			"Glas": "Verre",
			"Heiltrank": "Potion de guérison",
			"Inrahspiel": "Jeu de l'Inrah",
			"Inseln im Nebel": "Iles dans la brume",
			"Iryanleder": "Cuir d'Iryan",
			"Jahresfieber": "Fièvre annuelle",
			"Kelmon": "Kelmon",
			"Kukris": "Kukris",
			"Landsegler": "Voilier des glaces",
			"Lehmbacktechnik": "Technique de cuisson à l'argile",
			"Liebestrunk": "Philtre d'amour",
			"Lutanas": "Lutanas",
			"Magierphilosophie": "Philosophie de la Magie",
			"Mantikorgift": "Poison de Manticore",
			"Mandragora": "Mandragore",
			"Meister der Brabacudaküche": "Maître de la préparation du Brabacuda",
			"Morfugift": "Poison de Morfu",
			"Menacoriten": "Menacorites",
			"Myranor-Geographie": "Géographie-Myranor",
			"Omrais": "Omrais",
			"Orkischer Kalender": "Calendrier Ork",
			"Pastillen gegen Schmerzen": "Pastilles contre la douleur",
			"Pelura": "Pelura",
			"Pentagramm": "Pentagramme",
			"Porzellan": "Porcelaine",
			"Rascher Wahn": "Délire rapide",
			"Rote und Weiße Kamele": "Les chameaux blancs et rouges",
			"Schaumkuss": "Schaumkuss",
			"Schlacht von Jergan": "Bataille de Jergan",
			"Schlaftrunk": "Potion de sommeil",
			"Schokolade": "Chocolat",
			"Schwarze Wut": "Rage noire",
			"Spinett": "Épinette",
			"Standharfe": "Harpe",
			"Sumpffieber": "Fièvre des marais",
			"Sunsura": "Sunsura",
			"Tollwut": "Rage",
			"Tulmadron": "Tulmadron",
			"Tulmadron-Abbau": "Extraction du Tulmadron",
			"Uhrwerk": "Horlogerie",
			"Unauer Porzellan": "Porcelaine d'Unau",
			"Unsichtbarkeitselixier": "Élixir d'invisibilité",
			"Uthuria-Geographie": "Géographie-Uthuria",
			"Verwandlungselixier": "Élixir de métamorphose",
			"Vinsalter Ei": "&Oelig;uf de Vinsalt",
			"Vorfahren der Mittelländer": "Ancêtres des Impériaux",
			"Waffenbalsam": "Beaume des armes",
			"Wahrscheinlichkeitsrechnung": "Calcul de probabilité",
			"Weg durch die Sargasso-See": "Chemin à travers la mer des Sargasses",
			"Willenstrunk": "Potion de volonté",
			"Wundfieber": "Fièvre des plaies",
			"Wurara": "Wurara",
			"Zähigkeitstrunk": "Potion d'endurance",
			"Zaubertrank": "Potion magique",
			"Zeitalterforschung": "Étude des Âges",
			"Zorganpocken": "Variole de Zorgan",
			"Zwergische Tresore": "Coffre-fort de nain",
		};

		let keys = [];
		for (const p in DICO) {
			keys.push(p);
			DICO[p.toLowerCase()] = DICO[p];
		}
		const regStr = '(?<=(^|[^a-z]))(' + keys.join('|') + ')(?=($|[^a-z]))';
		const dicoRegex = RegExp(regStr, 'gi');

		const regexCesures = /(?<=[a-z])-\s+(?=[a-z])/ig;
		const newParagraph = /(?<=\.\s*)\n+(?=\S)/ig;
		const simpleNewline = /(?<=[^\n])\n(?=[^\n])/ig;
		const numAndChar = /(?<=[0-9])(?=[a-z])/ig;
		const charAndNum = /(?<=[a-z])(?=[0-9])/ig;
		const dice = /W(?=[1-9])/g

		function store_handler(name) {
			return {
				handler(val) {
					storage_replace(name, val);
				},
			};
		}

		var app = new Vue({
			el: '#app',
			data: {
				text: "",
				cut_pars: storage_get('translation_cut_pars', true),
				use_dico: storage_get('translation_use_dico', true),
				open_auto: storage_get('translation_open_auto', false),
			},
			methods: {
				openDeepl: function () {
					window.open(this.deeplUrl, "_blank");
				},
			},
			mounted: function () {
			},
			watch: {
				cut_pars: store_handler('translation_cut_pars'),
				use_dico: store_handler('translation_use_dico'),
				open_auto: store_handler('translation_open_auto'),
				text: {
					handler(val) {
						if (this.open_auto && val.trim().length > 3) {
							setTimeout(this.openDeepl, 100);
						}
					},
				},
			},
			computed: {
				formatedText: function () {
					let txt = this.text.replaceAll(regexCesures, "");
					if (this.cut_pars) {
						txt = txt.replaceAll(newParagraph, "\n\n");
						// txt = txt.replaceAll(simpleNewline, " ");
						// txt = txt.replaceAll(numAndChar, " ");
						// txt = txt.replaceAll(charAndNum, " ");
						txt = txt.replaceAll(dice, "D");
					}
					if (this.use_dico) {
						let matches = txt.matchAll(dicoRegex);
						let stringParts = [];
						let lastPartEnd = 0;
						for (const match of matches) {
							const start = match.index;
							const end = match.index + match[0].length;
							let word = DICO[match[0].toLowerCase()];
							if (word.toUpperCase() == word && match[0].toUpperCase() != match[0]) {
								continue;
							} else if (match[0].toLowerCase() == match[0]) {
								word = word.toLowerCase();
							}
							stringParts.push(txt.substring(lastPartEnd, start));
							stringParts.push(word);
							lastPartEnd = end;
						}
						stringParts.push(txt.substring(lastPartEnd, txt.length));
						txt = stringParts.join('');
					}
					// navigator.clipboard.writeText(txt);
					return txt;
				},
				deeplUrl: function () {
					let url = "https://www.deepl.com/translator#de/fr/" + encodeURIComponent(this.formatedText);
					url = url.replaceAll("%2F", "%5C%2F");
					if (this.open_auto) {
						console.log("OPEN");
						// window.open(this.deeplUrl, "_blank");
					}
					return url;
				},
			}
		});

	</script>
</body>

</html>
